body{
    background-color: #F5F5F5;
}
#wallet-div{
    background: linear-gradient(to right, #1A5D99, #2C9BFF);
    color: white;
    padding: 40px 20px;

}

#top-up {
    width: fit-content;

}

#deposit-spent-div {
    margin-bottom: -130px;
}

#total-depo, #funds-spent {
    width: 45%;
}

#total-depo p, #funds-spent p{
    margin: 0;
}

#transactions-div{
    padding: 0 20px;
}

#transaction-filter {
    margin-top: 110px;
}



